<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h3>RS注册表单</h3>
<form action="/api/v1/register" method="post">
    <label>用户名</label><input type="text" placeholder="请输入账号..." name="username"/><br/>
    <label>密&nbsp;&nbsp;码</label><input type="password" placeholder="请输入密码..." name="password"/><br/>
    <label>Email</label><input type="email" placeholder="请输入Email地址..." name="email"/><br/>
    <input type="submit" value="提交">
</form>
</body>
</html>