<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>系统管理</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css">
</head>

<body>
<div class="container">
    <h1>树形表格 ： Table Treegrid</h1>
    <table id="table"></table>
    <br/>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.0/extensions/treegrid/bootstrap-table-treegrid.js"></script>
<script src="https://cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
<script type="text/javascript">
    var $table = $('#table');
    var data = JSON.parse(
        '[{"id":1,"pid":0,"status":2,"name":"去云去雾", "operate":1},' +
        '{"id":2,"pid":0,"status":2,"name":"目标检测", "operate":1},' +
        '{"id":4,"pid":1,"status":0,"name":"Edge-SAR Cloud Remove","permissionValue":"Sentinal-2"},'+
        '{"id":5,"pid":1,"status":0,"name":"Edge-SAR Cloud Remove","permissionValue":"Gee_Data"},' +
        '{"id":6,"pid":2,"status":2,"name":"OBBDetection", "operate":1},' +
        '{"id":7,"pid":6,"status":0,"name":"ORiented-RCNN",        "permissionValue":"SSDD"},' +
        '{"id":8,"pid":6,"status":0,"name":"ORiented-RCNN","permissionValue":"DOTA"},' +
        '{"id":9,"pid":6,"status":0,"name":"H2RBOX",       "permissionValue":"SSDD"},' +
        '{"id":10,"pid":2,"status":2,"name":"HBBDetection", "operate":1},' +
        '{"id":11,"pid":10,"status":0,"name":"YOLOV8","permissionValue":"SSDD"},' +
        '{"id":12,"pid":10,"status":0,"name":"YOLOV5","permissionValue":"DOTA"},' +
        '{"id":13,"pid":10,"status":0,"name":"YOLOV5","permissionValue":"SSDD"}]');

    $(function() {
        //控制台输出一下数据
        console.log(data);
        $table.bootstrapTable({
            data:data,
            idField: 'id',
            dataType:'jsonp',
            columns: [
                { field: 'check',  checkbox: true, formatter: function (value, row, index) {
                        if (row.check == true) {
                            // console.log(row.serverName);
                            //设置选中
                            return {  checked: true };
                        }
                    }
                },
                { field: 'name',  title: '模型' },
                // {field: 'id', title: '编号', sortable: true, align: 'center'},
                // {field: 'pid', title: '所属上级'},
                { field: 'permissionValue', title: '数据集'  },
                { field: 'status',  title: '状态', sortable: true,  align: 'center', formatter: 'statusFormatter'  },
                { field: 'operate', title: '操作', align: 'center', events : operateEvents, formatter: 'operateFormatter' },
            ],
            //在哪一列展开树形
            treeShowField: 'name',
            //指定父id列
            parentIdField: 'pid',

            onResetView: function(data) {
                //console.log('load');
                $table.treegrid({
                    initialState: 'collapsed',// 所有节点都折叠
                    treeColumn: 1,
                    onChange: function() {
                        $table.bootstrapTable('resetWidth');
                    }
                });
                //只展开树形的第一级节点
                $table.treegrid('getRootNodes').treegrid('expand');
            },
            onCheck:function(row){
                var datas = $table.bootstrapTable('getData');
                // 勾选子类
                selectChilds(datas,row,"id","pid",true);
                // 勾选父类
                selectParentChecked(datas,row,"id","pid")
                // 刷新数据
                $table.bootstrapTable('load', datas);
            },
            onUncheck:function(row){
                var datas = $table.bootstrapTable('getData');
                selectChilds(datas,row,"id","pid",false);
                $table.bootstrapTable('load', datas);
            },
            // bootstrap-table-treetreegrid.js 插件配置 -- end
        });
    });

    // 格式化按钮
    function operateFormatter(value, row, index) {
        if (value === 1){
            return ['<span>-</span>'].join('')
        }
        return [
            '<button type="button" class="RoleOfadd btn-small  btn-primary" style="margin-right:15px;"><i class="fa fa-plus" ></i>&nbsp;启动</button>',
            '<button type="button" class="RoleOfedit btn-small   btn-primary" style="margin-right:15px;"><i class="fa fa-pencil-square-o" ></i>&nbsp;停止</button>',
            '<button type="button" class="RoleOfdelete btn-small   btn-primary" style="margin-right:15px;"><i class="fa fa-trash-o" ></i>&nbsp;查看结果</button>'
        ].join('');

    }
    // 格式化状态
    function statusFormatter(value, row, index) {
        if (value === 1) {
            return '<span class="label label-success">运行中</span>';
        } else if (value === 0){
            return '<span class="label label-default">停止中</span>';
        }else{
            return '<span>-</span>';
        }
    }

    //初始化操作按钮的方法
    window.operateEvents = {
        'click .RoleOfadd': function (e, value, row, index) {
            add(row.id);
        },
        'click .RoleOfdelete': function (e, value, row, index) {
            del(row.id);
        },
        'click .RoleOfedit': function (e, value, row, index) {
            update(row.id);
        }
    };
</script>
</html>
