<!DOCTYPE html>
<html>
<head>
  <title>推理任务</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<form action="/api/v1/inference" method="post" enctype="multipart/form-data">
  <select id="first-level" name="type">
    <option value="">任务类型</option>
    <option value="segmentation">语义分割</option>
    <option value="detection">目标检测</option>>
    <!-- 这里可以从后端获取一级选项的数据并动态生成<option>元素 -->
  </select>

  <select id="second-level" name="model_name">
    <option value="">模型名称</option>
    <!-- 这里会根据一级选项的选择动态生成<option>元素 -->
  </select>

  <select id="third-level" name="dataset_name">
    <option value="">数据集名称</option>
    <!-- 这里会根据二级选项的选择动态生成<option>元素 -->
  </select>
  <input type="file" value="请选择图片" name="file">
  <input type="submit" value="提交">
</form>


<script>
  $(document).ready(function() {
    // 监听一级下拉框的选择事件
    $("#first-level").change(function() {
      var firstValue = $(this).val();
      // 发送 Ajax 请求获取对应的二级选项
      $.ajax({
        url: "/api/v1/inference",
        type: "GET",
        data: { level: "second", value: firstValue },
        success: function(data) {
          // 清空原有的二级和三级选项
          $("#second-level").empty();
          $("#third-level").empty();
          // 动态生成二级选项
          $.each(data, function(index, value) {
            $("#second-level").append("<option value='" + value + "'>" + value + "</option>");
          });
        }
      });
    });

    // 监听二级下拉框的选择事件
    $("#second-level").change(function() {
      var secondValue = $(this).val();
      // 发送 Ajax 请求获取对应的三级选项
      $.ajax({
        url: "/api/v1/inference",
        type: "GET",
        data: { level: "third", value: secondValue },
        success: function(data) {
          // 清空原有的三级选项
          $("#third-level").empty();
          // 动态生成三级选项
          $.each(data, function(index, value) {
            $("#third-level").append("<option value='" + value + "'>" + value + "</option>");
          });
        }
      });
    });
  });
</script>
</body>
</html>