
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ModelZoo</title>
</head>
<body>

<table border="1">
  <tr>
    <th>序号</th><th>任务类型</th><th>模型名称</th><th>训练数据集</th><th>更新时间</th>
  </tr>
  {{ range .modelzoolist }}
  <tr>
    <td>{{ .ID }}</td><td>{{ .Type }}</td><td>{{ .ModelName }}</td><td>{{ .DatasetName }}</td><td>{{ .UpdatedAt }}</td>
  </tr>
  {{ end }}
</table>


</body>
</html>
